*{
	@include box-sizing(border-box);
	&:before,
	&:after{
		content: "";
	}
}
html{
	font-size: $base-font-size;
}
body{
	margin: 0;
	padding: 0;
	color: #000;
	font-weight: normal;
	font-style: normal;
	background-size: 100%;
	background-repeat: repeat;
    background-blend-mode: multiply;
}
section{
	margin: 10px 0;	
	display: block;
}
iframe{
	max-width: 100%;
}
button,
textarea,
input,
select{
	outline: none;
}
img.align{
	&--left{
		float: left;
		text-align: left;
		margin-right: 20px;
	}
	&--center{
		text-align: center;
		float: none;
		display: block;
		width: 100%;
	}
	&--right{
		text-align: right;
		float: right;
		margin-left: 20px;
	}
}

.list{
	&--none{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&--decimal{
		list-style-type: decimal;
	}
	&--disc{
		list-style-type: disc;
	}
}

.text{
	&--uppercase{
		text-transform: uppercase;
	}
	&--lowercase{
		text-transform: lowercase;
	}
	&--capitalize{
		text-transform: capitalize;
	}
}

.float{
	&--left{
		float: left;
	}
	&--right{
		float: right;
	}
	&--none{
		float: none !important;
	}
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}

