$base-font-size : 15px;

p{
	@include font-size($base-font-size);
	@include font-smoothing;
}
a{
    color: #fff!important;
    text-decoration: none !important;
    &:hover{
        color: $red!important;
        text-decoration: none !important;
    }
}


h6{
	@include font-size(14px);
}
h5{
	@include font-size(16px);
}
h4{
	@include font-size(20px);
}
h3{
	@include font-size(24px);
}
h2{
	@include font-size(30px);
}
h1{
	@include font-size(36px);
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}



@mixin helvetica($type){
	font-family: 'Helvetica', sans-serif;
	font-style: normal;
    @if $type == bold {
    	font-weight: 700;
	}@else if $type == black {
    	font-weight: 800;
	}@else if $type == normal {
    	font-weight: 400;
	}@else if $type == light {
    	font-weight: 200;
	}
}

@font-face {
    font-family: 'dinnextltpro-bold';
    src:  url('../fonts/DINNextLTPro-BoldCondensed.eot');
    src: url('../fonts/DINNextLTPro-BoldCondensed.woff') format('woff');
}

@font-face {
    font-family: 'dinnextltpro';
    src:  url('../fonts/DINNextLTPro-MediumCond.eot');
    src: url('../fonts/DINNextLTPro-MediumCond.woff') format('woff');
}

@font-face {
    font-family: 'dinnextltpro-light';
    src:  url('../fonts/DINNextLTPro-LightCondensed.eot');
    src: url('../fonts/DINNextLTPro-LightCondensed.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5sbbje');
  src:  url('../fonts/icomoon.eot?5sbbje#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff?5sbbje') format('woff'),
    url('../fonts/icomoon.svg?5sbbje#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold.woff2') format('woff2'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.svg#proxima_nova_altbold') format('svg');
}

@font-face {
    font-family: 'proximanova-thin';
    src: url('../fonts/proximanova-thin.woff2') format('woff2'),
         url('../fonts/proximanova-thin.woff') format('woff'),
         url('../fonts/proximanova-thin.svg#proxima_nova_ltthin') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-down:before {
  content: "\e900";
}
.icon-triangle-up:before {
  content: "\e901";
}