////////////HOME PAGE
.splashscreen{
    position: absolute;
    background-image: url('../img/bg-splash.png'); 
    height: 100%;
    width: 100%;
    z-index: 999;
    background-size: cover;
    background-position: center;
    background-color: #00224c;
    .splashscreen-image{
        @include center-absolute;
        width: 180px;
    }       
}

.home-qr{
    padding: 25px 0 60px;
    background-size: 100% 100%;
    background-image: url('../img/bg-home.png');    
    .home-qr-image{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 30%;
    }
    .home-qr-content{
        color: white;
        @include font-size(14px);
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
        font-family: 'Montserrat', sans-serif!important;
    }
}
.home-mynotes-date{
    color: #0254cc;
    @include font-size(13px);
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 700;
}
.home-title{
    padding-bottom: 0px!important;
}
.btn-notes-home{
    font-weight: 700;
    @include font-size(14px);
    width: 100%;
    margin-top: 15px;
    border-radius: 50px;
}
.badges-home-container{
    overflow-x: scroll;
    padding: 10px 10px 30px 10px;
    .badges-home-wrapper{
        display: flex;
        .badges-home-image{
            width: 150px;
            height: 150px;
            padding: 5px;
        }
    }
}

////////////BADGES PAGE
.avatar-container{
    padding: 20px 0 15px;
    background-color: #0052cc!important;
    .avatar{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 40%;
    }
    .avatar-name{
        font-family: 'Montserrat', sans-serif!important;
        color: white;
        @include font-size(14px);
        text-align: center;
        font-weight: bold;
    }
}

.icon-menu{
    width: 25px;
    height: 18px;
    padding: 0 5px;
    font-family: 'Montserrat', sans-serif!important;
}
.profile-badges{
    padding: 15px 0px;
    background-color: #0052cc!important;    
    .avatar-badges{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 30%;
    }
    .avatar-badges-name{
        color: white;
        @include font-size(14px);
        text-align: center;
        font-weight: 200;
        margin-bottom: 0px;
        font-family: 'Montserrat', sans-serif!important;
    }
    .profile-points{
        margin: 0px;
        padding: 0px;
        @include font-size(25px);
        text-align: center;
        color: white; 
        font-weight: 300;
        font-family: 'Montserrat', sans-serif!important;
    }
}
.my-badges-title-container{
    padding-top: 20px;
    padding-bottom: 20px;
    .my-badges-title{
        @include font-size(14px);
        font-weight: bold;
        font-family: 'Open Sans', sans-serif!important;
    }
}
.badges-title-container{
    padding: 12.5px 5px;
    .badges-image{
        width: 90%;
    }
    .badges-title{
        @include font-size(13px);
        font-weight: bold;
        font-family: 'Open Sans', sans-serif!important;
        margin: 0px;
        color: #212121;
    }
    .badges-subtitle{
        @include font-size(13px);
        font-weight: normal;
        font-family: 'Open Sans', sans-serif!important;
        margin: 0px;
        color: #212121;
    }
}

////////////RUNDOWN PAGE
.rundown-container{
    padding: 10px;
    border-bottom: 1px solid #cecece;
    .rundown-star-image{
        width: 20px;
        display: block;
        padding: 20% 0;
        margin: 0 auto;
    }
    .rundown-name, .rundown-room, .rundown-time{
        @include font-size(13px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        font-weight: bold;
    }
    .rundown-room, .rundown-time{
        color: #979797;
    }
    .rundown-name{
        color: #373737;
    }
}

////////////EXHIBITOR PAGE
.exhibitor-container{
    padding: 15px 15px;
    border-bottom: 1px solid #cecece;
    position: relative;
    .exhibitor-star-image{
        width: 20px;
        display: block;
        padding: 10% 0;
        margin: 0 auto;
    }
    .exhibitor-name, .exhibitor-booth{
        @include font-size(13px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        font-weight: bold;
    }
    .exhibitor-booth{
        color: #979797;
    }
    .exhibitor-name{
        color: #373737;
    }
    .exhibitor-detail{
        text-stroke: 1px white;
        -webkit-text-stroke: 1px white;
        position: absolute;
        right: 20px;
        bottom: 32.5%;
        color: #979797;
    }
}

////////////MYACTIVITY PAGE
.myactivity-container{
    padding: 15px 15px;
    border-bottom: 1px solid #cecece;
    position: relative;
    .myactivity-star-image{
        width: 20px;
        display: block;
        padding: 10% 0;
        margin: 0 auto;
    }
    .myactivity-name, .myactivity-booth{
        @include font-size(13px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        font-weight: bold;
    }
    .myactivity-booth{
        color: #979797;
    }
    .myactivity-name{
        color: #373737;
    }
    .myactivity-detail{
        position: absolute;
        right: 20px;
        bottom: 32.5%;
        color: #979797;
    }
}

////////////SAVED MATERIALS PAGE
.saved-material-container{
    position: relative;
    ons-col{
        padding: 15px 15px;
        border-bottom: 1px solid #cecece;
    }
    .saved-material-icon{
        width: 20px;
        display: block;
        padding: 10% 0;
        margin: 0 auto;
    }
    .saved-material-name, .saved-material-filename, .saved-material-date, .saved-material-detail{
        @include font-size(13px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        font-weight: bold;
    }
    .saved-material-filename, .saved-material-date{
        color: #979797;
    }
    .saved-material-name{
        color: #373737;
    }
}

////////////FLOOR PLAN PAGE
.floorplan-container{
    padding: 15px;
    .floorplan-image{
        width: 100%;
    }
    .floorplan-list-wrapper{
        padding: 15px;
        .floorplan-list{
            @include font-size(13px);
            margin: 0px;
            padding: 0px;
            font-family: 'Open Sans', sans-serif!important;
            // font-weight: bold;
        }
    }
}

////////////SURVEY PAGE
#result-survey{
    .page__background {
        background-color: #0042a5!important;
    }
    .result{
        p{
            color: white!important;
        }
    }
}
.voting-container{
    position: relative;
    ons-col{
        padding: 15px 0px;
        border-bottom: 1px solid #cecece;
    }
    .voting-wrapper-title{
        padding-right: 10px!important;
    }
    .voting-name{
        @include font-size(16px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        color: #373737;
    }
    .voting-title{
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif!important;
        text-align: center;
        @include font-size(16px);        
    }
    .voting-subtitle{
        margin: 0px;
        padding: 0px;
        text-align: center;
        @include font-size(12px);        
    }
    .voting-deadline{
        @include font-size(12px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        color: #373737;
    }
}
.btn-vote{
    @include font-size(13px);
    padding: 4px 10px;
    border-radius: 50px; 
    line-height: normal;
    background-color: #25a6d9!important;   
}

////////////THANKYOU PAGE
#esurvey-thankyou{
    .page__background{
        background-color: #0052cc!important;        
    }
}
.thankyou-container{
    @include center-absolute;
    .thankyou-image{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 50%;
    }
    .thankyou-content{
        color: white;
        @include font-size(14px);
        text-align: center;
        font-weight: 500;
        // margin-bottom: 0px;
        font-family: 'Montserrat', sans-serif!important;
    }
    .btn-thankyou{
        padding: 2px 15px;
        @include font-size(14px);
        border-radius: 50px;
        color: white;
        border-color: white;
    }
}

////////////RUNDOWN DETAILS PAGE
#tabbar-rundown-details{
    // .tabbar{
    //     background-color: #e5e5e5!important;  
    //     .tabbar__label{
    //         color: black!important;
    //     }
    // }
    text-align: center;
    margin-top: 10px;
    .label-icon{
        text-align: center;
        font-size: .6875rem!important;
        margin-top: -3px;
    }
}
.rundown-details-container{
    .page__background{
        background-color: #e5e5e5;
    }
}
.card-container{
    padding: 0 5px;
    margin-bottom: 15px;
    // margin-top: 15px;
}
.rundown-details-container{
    .rundown-desc-wrapper{
        border-radius: 4px!important;
        .rundown-desc-title{
            @include font-size(15px);
            font-weight: 700;
            color: #2a2a2a;
        }
        .rundown-desc-content{
            margin-top: 10px;
            margin-bottom: 10px;
            @include font-size(14px);            
        }
        .rundown-desc-list{
            @include font-size(14px);
            -webkit-padding-start: 20px;
            li{
                color: #0096ff;
                span{
                    color: rgba(0,0,0,.54);
                }
            }                        
        }
    }
    .speakers-container{
        padding: 0px!important;
        .speakers-wrapper{
            padding: 10px 0px;
            border-bottom: 1px solid #bbbbbb;
            .speakers-image{
                width: 90%;
                border-radius: 50%;
            }
            .speakers-name{
                @include font-size(13px);
                font-weight: bold;
                font-family: 'Open Sans', sans-serif!important;
                margin: 0px;
                padding-left: 5px;
                color: #212121;
            }
            .speakers-job{
                @include font-size(13px);
                font-weight: normal;
                font-family: 'Open Sans', sans-serif!important;
                margin: 0px;
                padding-left: 5px;
                color: #bbbbbb;
            }
        }
    }
}

////////////EXHIBITOR LIST DETAILS PAGE
#tabbar-exhibitorlist-details{
    .tabbar{
        background-color: #e5e5e5!important;   
    }
}
.exhibitorlist-details-container{
    .page__background{
        background-color: #e5e5e5;
    }
}
.exhibitorlist-details-container{
    .exhibitorlist-desc-wrapper{
        border-radius: 4px!important;
        .exhibitorlist-desc-title{
            @include font-size(15px);
            font-weight: 700;
            color: #2a2a2a;
        }
        .exhibitorlist-desc-content{
            margin-top: 10px;
            margin-bottom: 10px;
            @include font-size(14px); 
            p{
                @include font-size(14px);   
            }           
        }
        .exhibitorlist-desc-list{
            @include font-size(14px);
            -webkit-padding-start: 20px;
            li{
                color: #0096ff;
                span{
                    color: rgba(0,0,0,.54);
                }
            }                        
        }
    }
}



////////////MY ITINERARY PAGE
.itinerary-date-container{
    // border-bottom: 1px solid #bbbbbb;
    .itinerary-date-content{
        @include font-size(14px);
        font-weight: bold;
        font-family: 'Open Sans', sans-serif!important;
        margin: 10px 0 5px 0;
        padding-left: 5px;
        color: #212121;        
    }
}


////////////MY NOTES PAGE
.mynotes-container{
    position: relative;
    ons-col{
        padding: 15px 0;
        border-bottom: 1px solid #cecece;
    }
    .mynotes-name{
        color: #373737;
        @include font-size(14px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        font-weight: bold;
    }
    .mynotes-detail{
        color: #373737;
        @include font-size(14px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        font-weight: 300;        
    }
    .mynotes-date{
        color: #979797;
        @include font-size(12px);
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif!important;
        font-weight: 300;
    }
}
.btn-add-notes{
    right: 20px;
    bottom: 20px;
    position: absolute;
}


////////////SURVEY QUESTION PAGE
.question-container{
    padding: 10px 15px 55px 15px; 
    .question-wrapper{
        font-family: 'Open Sans', sans-serif!important;
        text-align: center;
        .jumlah-pertanyaan{
            @include font-size(10px);
            margin-bottom: 5px;
        }
        .pertanyaan{
            margin-top: 0px;
            margin-bottom: 20px;
            @include font-size(15px);
        }
    }
}
.voting-container{
    .slick-dots{
        bottom: 20px!important;
        li{
            margin: 0px!important;
        }
    }
    .slick-prev, .slick-next{
        top: 120%;
        color: #0076ff;
        width: auto;
        height: 40px;
    }
    .slick-prev{
        left: 5%;
    }
    .slick-next{
        right: 5%;
    }
    .slick-dots li.slick-active button:before{
        color: #19b0e8;
    }
    .btn-nextprev{
        border: 1px solid;
        padding: 2px 15px;
        @include font-size(14px);
        border-radius: 50px;
    }
    .slick-prev:before, .slick-next:before{
        content: none!important;
    }
}

.tambah-notes-container-textarea{
    padding: 0;
    margin: 0;
    width: 100%;
    textarea{
        padding: 15px;
        width: 100%;
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
        @include font-size(13px);
    }
}
.tambah-notes-container{
    margin: 0;
    padding:0;
    background-color: #e5e5e5;
    font-weight: 700;
    .tambah-notes-wrapper{
        .input-judul{
            width: 100%;
            padding: 10px;
            height: 40px;
            font-weight: 700;
        }
    }
}
.tambah-notes-button{
    text-align: right;
    ons-icon{
        margin: 10px;
    }
}

.qrcamera-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 0px!important;
    .qrframe{
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 999;
            left: 0;
        }
    }
    #qrcamera{
        height: 100%;
    }
}
.qrcamera-wrapper{
    
}