.page, .page__background, .page__content {
    background-color: white
}
ons-toolbar{
    background-color: #0052cc!important;
    background: #0052cc!important;
    border-bottom: 1px solid rgba(255,255,255,0.3)!important;
}
ons-splitter-mask{
    background-color: rgba(0, 0, 0, 0.5)!important;
}
.menu-item{
    @include font-size(12px);
}
.list-item{
    padding: 0px!important;
}
.list-item__center{
    padding-left: 10px;
}
.toolbar__title{
    font-family: 'Open Sans', sans-serif!important;
    color: white!important;
    @include font-size(14px);
    font-weight: bold;
    line-height: 44px;
}
.toolbar-button{
    color: white!important;
}

.my-toolbar-icon {
    background-image: url(../img/toolbar.png);
    width: 20px;
    height: 35px;
    // position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // margin-top: 5px;  
}
.my-menu{
    display: flex!important;
    flex-direction: row!important;
    justify-content: flex-start!important;
    align-items: center!important;    
}
.add-icon {
    background-image: url(../img/calendar.png);
    width: 20px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.share-icon {
    background-image: url(../img/icon/share.png);
    width: 20px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.delete-icon {
    background-image: url(../img/icon/delete.png);
    width: 20px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.confirm-icon {
    background-image: url(../img/icon/confirm.png);
    width: 20px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.notes-icon {
    background-image: url(../img/notes.png);
    width: 20px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.map-icon {
    background-image: url(../img/mapit.png);
    width: 20px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.visited-icon {
    background-image: url(../img/visited.png);
    width: 20px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
}
ons-row{
    padding: 0px 15px;
}
ons-back-button{
    color: white!important;
}
.back-button__icon{
    display: flex!important;
    width: 10px!important;
}
.tabbar{
    padding: 0 15px;
    // display: block!important;
    overflow-x: auto!important;
    // margin: 0 auto;
    text-align: -webkit-center;
    overflow-y: hidden!important;
    background-color: #0052cc!important;
    .tabbar__item{
        // display: inline-block!important;
        // min-width: 15%;
        padding: 0 12px;
    }
    .tabbar__label{
        color: white!important;
        font-weight: 300!important;
        font-size: .6875rem!important;
    }
    .tabbar--material__border{
        height: 0px!important;
    }
}
:checked+.tabbar__button{
    color: white!important;
    .tabbar__label{
        font-weight: 700!important;
    }
}
#tabbar-activityschedule{
    .tabbar__item{
        padding: 0 25px!important;
    }
}
#tabbar-exhibitorlist{
    .tabbar__item{
        padding: 0 25px!important;
    }
}
#tabbar-survey{
    .tabbar__item{
        padding: 0 45px!important;
    }
}
#tabbar-schedule-itinerary{
    .tabbar__item{
        padding: 0 30px!important;
    }
}
:checked+.checkbox--material__checkmark:after{
    top: 5px!important;
    left: 4px!important;
}
.back-button:active {
    opacity: 1!important;
}
#tabbar-rundown-details{
    .tabbar__item{
        padding: 0 50px!important;
    }
    :checked+.tabbar__button{
        color: black!important;
    }
}
#tabbar-exhibitorlist-details{
    .tabbar__item{
        padding: 0 15px!important;
    }
    :checked+.tabbar__button{
        color: black!important;
    }
}
.multiline-toolbar{
    display: block;
    margin-top: -12px;
}
.line-two{
    position:absolute;
    // left:0;
    // right:0;
    // margin-left:auto;
    // margin-right:auto;
    @include font-size(10px);
    margin-top: 9px;
    // margin-top: -30px;
    font-weight: 500!important;
}
.left{
    z-index: 99!important;
}

.center, ons-back-button {
    display: flex!important;
    flex-direction: row!important;
    justify-content: flex-start!important;
    align-items: center!important;
}

.star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
    position: relative;
    display: block;
    margin: 0 auto;
}
.star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    color: #0052cc;
    left: -5px;
}
.star:checked:before {
    content: "\2606";
    position: absolute;
}